<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Carlos Donoso - Citas Famosas
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/gestion-citas">
        <ion-icon slot="icon-only" name="list-outline"></ion-icon>
      </ion-button>
      <ion-button routerLink="/configuraciones">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Cita del día</ion-card-subtitle>
      <ion-card-title>{{cita?.autor}}</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <p class="frase">"{{cita?.texto}}"</p>
      
      <div class="botones">
        <ion-button expand="block" (click)="newCita()">
          <ion-icon name="refresh-outline" slot="start"></ion-icon>
          Nueva Cita Aleatoria
        </ion-button>
        
        @if (showButtonDelete) {
          <ion-button 
            expand="block" 
            color="danger"
            (click)="deleteCita()">
            <ion-icon name="trash-outline" slot="start"></ion-icon>
            Eliminar Cita
          </ion-button>
        }
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
