<ion-list lines="full">
      <ion-item-sliding *ngFor="let cita of citas">
        <ion-item>
          <ion-label class="ion-text-wrap">
            <h3>"{{cita.texto}}"</h3>
            <p class="cita-autor">
              <ion-icon name="person-outline"></ion-icon>
              {{cita.autor}}
            </p>
          </ion-label>
          <ion-badge slot="end" color="medium">#{{cita.id}}</ion-badge>
        </ion-item>
        
        <ion-item-options side="end">
          <ion-item-option 
            color="danger" 
            (click)="onDelete(cita.id)"
            class="opcion-eliminar">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    
    <div *ngIf="citas.length == 0" class="lista-vacia">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <p>No hay citas disponibles</p>
    </div>
