<ion-card class="cita-card">
      <ion-card-header>
        <ion-card-subtitle>Cita del día</ion-card-subtitle>
        <ion-card-title>{{autor}}</ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        <p class="texto">"{{texto}}"</p>
        
        <div *ngIf="showDeleteButton" class="boton-container">
          <ion-button 
            expand="full" 
            color="danger" 
            (click)="onDeleteCita()"
            class="boton-borrar">
            <ion-icon name="trash-outline" slot="start"></ion-icon>
            Eliminar Cita
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>